# replace to your own domain name for "dc=***,dc=***" section
dn: {{ ldap_suffix }}
objectClass: top
objectClass: dcObject
objectclass: organization
o: {{ ldap_server_o }}
dc: {{ ldap_dc }}

dn: {{ openldap_manager_dn }}
objectClass: organizationalRole
cn: {{ openldap_manager_cn }}
description: Directory Manager

dn: ou=People,{{ ldap_suffix }}
objectClass: organizationalUnit
ou: People

dn: ou=Users,{{ ldap_suffix }}
objectClass: organizationalUnit
ou: Users
